<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.Mapper">
    <select id="selectSuitMenu" resultType="com.ohgiraffers.MenuDTO">
        SELECT
        *
        FROM
        tbl_menu
        WHERE
        orderable_status = 'Y'
        <if test="menuPrice gte 0 and menuPrice lte 10000">
            <![CDATA[
            AND menu_price < #{menuPrice}
            ]]>
        </if>
        <if test="menuPrice gt 10000 and menuPrice lte 20000">
            AND menu_price BETWEEN 10000 AND #{menuPrice}
        </if>
        <if test="menuPrice gt 20000 and menuPrice lte 30000">
            AND menu_price BETWEEN 10000 AND #{menuPrice}
        </if>
        <if test="price gt 30000">
            AND menu_price BETWEEN 10000 AND #{menuPrice}
        </if>
        ORDER BY
        menu_code
    </select>
</mapper>
